<router-outlet></router-outlet>
<div class="wolf justify-content-center mt-5" style=" text-align:center">
<div class="wap wally rounded-circle" style=" display: inline-block;">
  <a routerLink="/homepage"><img class="rounded-circle" src="./assets/3.png" alt="logo"  style="width:200px; height: 200px "></a>
</div>
</div>


<div class="container mt-4 ">

<div class="container p-4 ml-5 pl-5 jusitify-content-center">

  <div class="col-sm-9 ml-5 pl-5 my-auto">
    <div class="card bg-light">

<form action="https://reqres.in">

  <div class="card-body text-center " >
    <div><h4 class="card-text ">SIGN UP</h4></div>
  </div>
  <div class="card-body text-center " >
    <div><h1 class="card-text text-secondary">Create your account</h1></div>
  </div>
    <div class="card-body text-center">
      <p class="card-text text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p></div>
      <div class="container mt-2 d-flex justify-content-center card-body text-center " >
        <button class=" text-secondary fab fa-facebook-square mr-5 pl-4 pr-4 pb-2 pt-2 bg-white default rounded-lg"   (click)="submitLogin()">
          Login with Facebook
        </button>

        <button class="login-Btn ml-5 pl-4 pr-4 pb-2 pt-2 text-secondary bg-white default rounded-lg" #loginRef >
          <img class="social-btn-icon pb-1 "  alt="Sign up with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg"> Login with Google
        </button>

    </div>
  <div class="card-body text-center d-flex"><hr>
    <p class="card-text text-dark">or</p><hr></div>

  <div class="container">
    <input type="text" placeholder="First Name" name="uname" required>

    <input type="text" placeholder="Last Name" name="namr" required>

    <input type="email" placeholder="Email" name="email" required>

    <input type="password" placeholder="Enter Password" name="psw" required>



  <div class="card-body text-center">
    <p class="card-text text-dark">By clicking Sign Up, you agree to our <a href="https://policies.google.com/terms?hl=en-US" >Terms of Use</a> and our <a href="https://policies.google.com/privacy?hl=en-US" >Privacy Policy</a></p></div>
    <button class="wilson rounded-lg">Sign Up</button>
  </div>
</form>

</div>
</div>

      </div>
    </div>


