.social-btn-icon{
  height: 18px;
  margin-left: 17px;

}

form {
  border: 3px solid #f1f1f1;
}
hr{
  width: 45%;
}

input[type=text], input[type=password],  input[type=email]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.wilson {
  background-color: skyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: #cccccc;
}

//.container {
//  padding: 16px;
//}

span.psw {
  float: right;
  padding-top: 16px;
}

.wally{
  box-shadow: 0 0.5rem 1rem 0 rgba(241, 214, 9, 1);
}
.default {
  border-color: whitesmoke;

}
